@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 81.5rem;
  padding: 0 0.5rem;
}

button {
  cursor: pointer;
  color: var(--text-color);
}