@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  font: var(--font-m);
  background: var(--second-bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

button {
  cursor: pointer;
}
.btn {
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font: var(--font-m);
}