:root {
  --primary-color: #00925D;
  --secondary-color: #EB3F5E;
  --text-color: #FFFFFF;
  --white-color: #FFFFFF;
  --grey-color: #9CA4AB;
  --btn-text-color: #3E3C43;
  --btn-background-color: #28262D;
  --bg-color: #08080A;
}