.Size {
  &-small {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    font: var(--font-xs);

  }
  &-normal {
    padding: 0.75rem 1.5rem;
    border-radius: 0.625rem;
    font: var(--font-s)
  }
  &-large {
    padding: 1rem 2rem;
    border-radius: 0.875rem;
    font: var(--font-l);
  }
}
.Button {
  font-weight: 700;
}

.Variant {
  &-primary {
    background-color: var(--primary-color);
  }
  &-empty {
  }
  &-disable{
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
  }
  &-border {
    border: 1px solid var(--white-color);
  }
  &-secondary {
    background-color: var(--secondary-color);
  }
}