.Size {
  &-small {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    font: var(--font-xs);
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
  &-normal {
    padding: 0.75rem 1.5rem;
    border-radius: 0.625rem;
    font: var(--font-s)
  }
  &-large {
    padding: 1rem 2rem;
    border-radius: 0.875rem;
    font: var(--font-l);
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.Button {
  font-weight: 700;
}

.LeftIcon {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.625rem;
  }
}


.Variant {
  &-primary {
    background-color: var(--primary-color);
  }
  &-empty {
  }
  &-disable{
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    svg {
      path {
        stroke: var(--btn-text-color);
      }
    }
  }
  &-border {
    outline: 1px solid var(--white-color);
    outline-offset: -1px;
  }
  &-secondary {
    background-color: var(--secondary-color);
  }
}